
      <div class="container">
            <img src="{{artwork}}" alt="Bird Image" class="img">
        <div class="inner">
          <p>{{artist.name}}</p>
          <p>{{license.name}}</p>
          </div>
      </div>
   
