
      <div class="container">
        <h1>{{title}}</h1>
             
        <div class="inner">
          <p>{{artist.name}}</p>
          <p>{{license.name}}</p>
          </div>
      </div>
   
