/* .img {
  width: 30%;
  height: auto;
} */

.container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 15em;
}

.inner{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}